02/04/2011

proj1 09:00-10:00 Fix from yesterday didn't work, repaired coffee machine # again
internal 10:00-10:45 Slashdotting
internal 10:45-13:30 Kernel recompilation after kernel panic
proj1 14:00-16:30 Some more coffee needed because of the kernel panic

01/04/2011

proj1 09:00-14:30 Started the day with a coffee
proj1 15:00-16:00 Slept a little
internal    16:00-16:45 Team meeting
proj2 16:45-17:00 Some new coffee
proj1 17:00-17:30 Fixed the coffee machine for tomorrow
