[taxi]
# The path of your entries file. You're free to use a single file to store all
# your entries but you're strongly encouraged to use date placeholders here. The
# following will expand to ~/zebra/2011/11.tks if you're in November 2011
# See
# http://docs.python.org/library/datetime.html#strftime-and-strptime-behavior
# for a complete list of available formats
file = ~/zebra/%Y/%m.tks

# This is the format of the dates that'll be automatically inserted in your
# entries file(s), for example when using the `start` and `edit` commands. You
# can use the same date placeholders as for the `file` option. Default is
# %d/%m/%Y.
date_format = %d/%m/%Y

# This specifies where the new entries will be inserted when you use `start` and
# `edit` commands. Possible values are 'auto' (automatic detection based on your
# current entries), 'bottom' (values are added to the end of the file), or 'top'
# (values are added to the top of the file) or 'no' (no auto add for the edit
# command). Default is auto.
auto_add = auto

# Your editor command will be deducted from your EDITOR env var but if you want
# to use a custom command just for taxi you can set it here
editor = {editor}

# If auto_fill_days is set, the edit command will add all the dates that are not
# present in your entries file until the current date if they match any day
# present in auto_fill_days (0 is Monday, 6 is Sunday). You must have auto_add
# set to something else than 'no' for this option to take effect. Default is
# 0,1,2,3,4 (Monday - Friday)
# auto_fill_days = 0,1,2,3,4

# How many previous files should Taxi parse? This allows you to make sure you
# don't forget hours in files from previous months when starting a new month.
# Default is 1.
# nb_previous_files = 1

[backends]
# You'll need taxi-zebra to be able to use this
default = {backend}://{username}{password}@{hostname}
internal = dummy:///

# This section contains your project name <-> id mapping. The format is:
# project_name = project_id/activity_id
[default_aliases]
internal = 7/16

[internal_aliases]
_pingpong
