02/04/2011

liip_internal 09:00-10:00 Fix from yesterday didn't work, repaired coffee machine # again
liip_meeting 10:00-10:45 Slashdotting
liip_sick 0.25 Kernel recompilation after kernel panic
liip_sick 0.25 Kernel recompilation after kernel panic
liip_sick 0.25 Kernel recompilation after kernel panic
liip_internal 14:00-16:30 Some more coffee needed because of the kernel panic
unknown? 14:00-16:30 Some more coffee needed because of the kernel panic

01/04/2011

# liip_internal 09:00-14:30 Started the day with a coffee
#liip_meeting 15:00-16:00 Slept a little
# liip_internal    16:00-16:45 Team meeting
#liip_meeting 16:45-17:00 Some new coffee
# liip_internal 17:00-17:30 Fixed the coffee machine for tomorrow
