Source: taxi
Maintainer: Didier Raboud <didier.raboud@liip.ch>
Section: comm
Priority: optional
Build-Depends: debhelper (>= 11),
               bash-completion,
               dh-python,
               python3,
               python3-appdirs (>= 1.4.0),
               python3-click,
               python3-freezegun,
               python3-pytest,
               python3-pytest-runner,
               python3-setuptools,
               python3-six (>= 1.9.0)
Standards-Version: 4.3.0
Vcs-Browser: https://github.com/sephii/taxi
Vcs-Git: https://github.com/sephii/taxi.git
Homepage: https://github.com/sephii/taxi

Package: taxi
Architecture: all
Depends: python3-appdirs (>= 1.4.0),
         python3-click,
         python3-six (>= 1.9.0),
         taxi-backend-zebra | taxi-backend,
         ${misc:Depends},
         ${python3:Depends}
Description: Timesheeting tool
 Taxi is a timesheeting tool that focuses on simplicity to help you
 write your timesheets without wasting time.
 .
 All you'll do is edit a text file and write down what you've worked on
 and how long.
