Source: taxi
Section: comm
Priority: extra
Maintainer: Didier Raboud <didier.raboud@liip.ch>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.3
Homepage: https://github.com/sephii/taxi
Vcs-Git: https://github.com/sephii/taxi.git

Package: taxi
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: That's Liip's taxi
